* {
  margin: 0;
  padding: 0;
  border: none; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  width: 100vw; }

nav {
  background-color: #ffffff;
  display: none; }

header {
  padding-top: 50px;
  height: 500px;
  background: #868F77;
  display: none; }

section.history-section {
  padding: 150px 0 180px;
  display: none; }

section.personnel-section {
  padding-bottom: 30px;
  display: none; }

section.services-section,
section.projects-section,
section.testimony-section {
  padding-top: 50px;
  padding-bottom: 30px;
  display: none; }

section.testimony-section {
  padding-bottom: 60px; }

footer {
  background: #2A2A2A;
  color: #ffffff;
  padding: 50px 0 80px;
  display: none; }

.container {
  width: 85%;
  margin: auto; }

.nav-container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between; }

.logo-container {
  padding: 25px 0; }

ul.navbar-list {
  display: flex;
  list-style: none; }

ul.navbar-list li.navbar-list-item {
  padding: 30px 0 30px 60px; }

ul.navbar-list li.navbar-list-item a {
  text-decoration: none;
  color: #2A2A2A;
  font-weight: 500; }

ul.navbar-list li.navbar-list-item a:hover {
  color: #868F77; }

.header-container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.header-text-wrapper {
  width: 50%;
  padding-top: 100px; }

.header-img-wrapper {
  width: 48%; }

.header-btn-wrapper {
  margin-top: 50px; }

.section-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.history-text {
  width: 40%; }

.history-imgs {
  width: 48%;
  display: flex; }

.personnel-idea {
  width: 38%;
  color: #ffffff;
  background: #2A2A2A;
  display: flex;
  align-items: center; }

.personnel-avatars {
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.dot-wrapper {
  margin: 30px 0; }

.dot {
  width: 20px;
  height: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
  background: #868F77; }

.services-rendered {
  width: 30%; }

.project-text {
  width: 40%;
  line-height: 2; }

.project-img {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.project-illustration {
  background: url(../assets/projects1.png);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -moz-background-repeat: no-repeat;
  -webkit-background-repeat: no-repeat;
  -o-background-repeat: no-repeat;
  background-repeat: no-repeat;
  width: 45%;
  padding-top: 240px; }

.second {
  background: url(../assets/projects2.png);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -moz-background-repeat: no-repeat;
  -webkit-background-repeat: no-repeat;
  -o-background-repeat: no-repeat;
  background-repeat: no-repeat; }

.illustration-text {
  background: #868F77;
  padding: 20px 0; }

.more-container {
  text-align: right;
  margin-top: 20px; }

.testimony-wrapper {
  width: 30%;
  background: rgba(134, 143, 119, 0.1);
  border-left: 12px solid #2A2A2A;
  padding: 30px 0; }

.testimony-flex {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between; }

.avatar-wrapper {
  width: 15%;
  display: flex;
  align-items: center; }

.testimony {
  width: 80%; }

.footer-brand {
  width: 38%; }

.categories {
  width: 20%;
  font-size: 14px; }

h1.nav-logo {
  font-weight: 500;
  font-size: 1.8rem; }

h1.nav-logo:after {
  content: "";
  display: inline-block;
  background-color: #868F77;
  width: 15px;
  height: 15px;
  margin-bottom: -10px;
  border-radius: 50%; }

h1.header-text {
  color: #ffffff;
  font-size: 3.4rem; }

p.header-expln {
  color: #ffffff;
  font-weight: 500;
  margin-top: 20px;
  line-height: 1.5; }

h1.section-header {
  font-weight: 500;
  color: #2A2A2A;
  margin-bottom: 30px; }

p.history-expln {
  line-height: 1.5; }

h1.section-header-text {
  text-align: center;
  color: #000000;
  font-weight: 500;
  margin-bottom: 20px; }

.personnel-idea h1 {
  font-size: 3rem;
  font-weight: 500; }

.personnel-idea h1 span {
  font-size: 2rem; }

p.service-title {
  font-weight: 500;
  color: #2A2A2A;
  margin: 30px 0 15px; }

p.service-expln {
  font-size: 14px;
  color: #333333;
  line-height: 1.3;
  margin-bottom: 25px; }

a.service-link {
  font-weight: 500;
  color: #868F77;
  text-decoration: none; }

a.service-link:hover {
  text-decoration: underline; }

p.illustration-title {
  color: #ffffff;
  font-weight: 500;
  margin-left: 20px;
  margin-bottom: 10px; }

p.number {
  font-weight: 500;
  color: #2A2A2A;
  border-bottom: 2px solid #000000;
  display: inline-block;
  margin-left: 20px; }

a.more {
  text-decoration: none;
  display: inline-block;
  color: #2A2A2A;
  font-weight: 500;
  border-bottom: 2px solid #000000;
  text-align: right; }

p.talk {
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  margin-bottom: 20px; }

p.avatar-name {
  font-weight: 500;
  font-size: 1.2rem; }

h1.footer-header {
  font-weight: 500; }

h1.footer-header:after {
  content: "";
  display: inline-block;
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  margin-bottom: -10px;
  border-radius: 50%; }

p.enchanteur-footer {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.502972);
  line-height: 2;
  margin-top: 20px; }

p.foot-sub-header {
  font-size: 14px;
  color: #868F77;
  font-weight: 700;
  margin: 50px 0 30px; }

.gender p,
.foot3289 p,
p.info {
  margin-bottom: 15px; }

#preloader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.loader-container {
  text-align: center;
  color: #868F77; }

h1.loader-text:after {
  content: "";
  display: inline-block;
  transform: translateY(10px);
  width: 15px;
  height: 15px;
  background-color: #868F77;
  border-radius: 50%;
  animation: anim 1s ease infinite; }

@keyframes anim {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
button.get-projects {
  padding: 15px 40px;
  font-family: inherit;
  margin-right: 30px;
  background-color: #2A2A2A;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.6s ease; }

button.get-projects:hover {
  background-color: rgba(255, 255, 255, 0.502972); }

button.get-quote {
  padding: 15px 40px;
  font-family: inherit;
  margin-right: 30px;
  background-color: #ffffff;
  font-weight: 500;
  color: #2A2A2A;
  cursor: pointer;
  transition: all 0.6s ease; }

button.get-quote:hover {
  background-color: rgba(255, 255, 255, 0.502972);
  color: #ffffff; }

button.shift {
  margin-right: 0;
  font-weight: 700; }

button.footer-submit {
  margin-right: 0;
  margin-left: 10px;
  padding: 15px;
  font-weight: 700;
  background-color: #868F77; }

.header-img-wrapper img {
  width: 100%; }

.history-imgs img {
  width: 52%; }

.history-imgs img.history4982 {
  transform: translate(-30px, 110px); }

.personnel-avatars img {
  width: 32%;
  margin-bottom: 20px; }

.personnel-avatars img.personnel {
  margin-bottom: 0; }

.services-rendered img {
  width: 100%; }

.avatar-wrapper img {
  width: 100%; }

img.star {
  width: 20px; }

.service4893 img {
  width: 100%; }

.project img {
  width: 100%; }

.testimony-content img {
  width: 25%;
  margin-bottom: 25px; }

.sub input {
  padding: 15px 30px;
  font-size: 14px;
  font-family: inherit;
  transition: all 0.6s ease; }

.sub input:focus {
  outline: none; }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s; }

@-webkit-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@media screen and (max-width: 768px) {
  .logo-container {
    display: none; }

  .hamburger {
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 2;
    height: 30px;
    cursor: pointer;
    display: none; }

  .line1,
  .line2,
  .line3 {
    width: 20px;
    height: 2px;
    border-radius: 5px;
    background-color: #2A2A2A;
    transition: all 1s ease; }

  .line2 {
    transform: translateY(6px);
    width: 10px;
    transition: all 0.3s ease; }

  .line3 {
    transform: translateY(12px); }

  .close {
    top: 30px; }

  .close .line1 {
    transform: rotate(45deg); }

  .close .line3 {
    margin-top: -4px;
    transform: rotate(-45deg); }

  .close .line2 {
    width: 0; }

  ul.navbar-list {
    display: none; }

  ul.navbar-list.responsive {
    animation: navbar-left 1s ease-in-out;
    -webkit-animation: navbar-left 1s ease-in-out;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    padding: 50px 30px;
    background-color: #ffffff; }

  ul.navbar-list.responsive li.navbar-list-item {
    background-color: #ffffff;
    margin-left: 0;
    padding: 20px; }

  ul.navbar-list.responsive li.navbar-list-item a {
    font-size: 13px; }

  ul.navbar-list.responsiveReturn {
    transform: translateY(-100%);
    animation: navbar-right 1s ease-in-out;
    -webkit-animation: navbar-right 1s ease-in-out; }

  @keyframes navbar-left {
    0% {
      transform: translateY(-100%); }
    100% {
      transform: translateY(0); } }
  @-webkit-keyframes navbar-left {
    0% {
      transform: translateY(-100%); }
    100% {
      transform: translateY(0); } }
  @keyframes navbar-right {
    0% {
      transform: translateY(0); }
    100% {
      transform: translateY(-100%); } }
  @-webkit-keyframes navbar-right {
    0% {
      transform: translateY(0); }
    100% {
      transform: translateY(-100%); } }
  header {
    padding-top: 100px;
    height: auto;
    padding-bottom: 100px; }

  .header-text-wrapper {
    text-align: center;
    width: 100%;
    padding-top: 0; }

  .header-img-wrapper {
    display: none; }

  h1.header-text {
    font-size: 2rem; }

  .history-text,
  .history-imgs {
    width: 100%; }

  section.history-section {
    padding-top: 60px; }

  p.header-expln {
    width: 100%;
    font-weight: 400;
    font-size: 13px; }

  button.get-projects,
  button.get-quote {
    margin-right: 0;
    font-size: 12px;
    display: block;
    margin: auto; }

  button.get-projects {
    margin-bottom: 20px; }

  p.history-expln {
    font-size: 13px;
    text-align: center;
    margin-bottom: 30px; }

  h1.section-header-text {
    font-size: 18px; }

  .personnel-idea {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px 0; }

  .personnel-idea h1 {
    font-size: 24px; }

  .personnel-idea h1 span {
    font-size: 20px; }

  .dot {
    width: 15px;
    height: 15px; }

  .personnel-avatars,
  .personnel-avatars img {
    width: 100%; }

  img.about-icon {
    width: 70px; }

  .personnel-avatars img.personnel {
    margin-bottom: 20px; }

  h1.section-header {
    font-size: 18px;
    text-align: center; }

  section.services-section {
    padding-top: 0; }

  .service4893,
  .footer-brand {
    width: 100%; }

  p.service-expln {
    font-size: 13px; }

  .services-rendered {
    width: 100%;
    margin-bottom: 20px; }

  .project-text {
    width: 100%; }

  p.project-expln {
    font-size: 13px;
    line-height: 1.5; }

  .project-illustration,
  .project-img {
    width: 100%; }

  .project-illustration {
    margin-top: 20px; }

  p.illustration-title,
  p.number,
  a.more {
    font-size: 14px; }

  .testimony-wrapper {
    width: 100%;
    margin-bottom: 20px; }

  p.talk {
    font-size: 13px; }

  p.avatar-name {
    font-size: 15px; }

  img.star {
    width: 15px; }

  .button-wrapper {
    margin-top: 20px; }

  .categories {
    width: 100%; }

  .sec {
    justify-content: flex-start; }

  .gender {
    margin-right: 50px; }

  p.enchanteur-footer {
    font-size: 13px; }

  .gender p,
  .foot3289 p,
  p.info {
    font-size: 13px; }

  .sub {
    width: 100%; }

  .sub input {
    width: 100%;
    font-size: 13px;
    margin-bottom: 20px; }

  button.footer-submit {
    margin: 0 auto; }

  h1.footer-header {
    font-size: 24px; }

  h1.footer-header:after {
    width: 10px;
    height: 10px; } }

/*# sourceMappingURL=style.css.map */
